body{
background-color: #FCFCFC;
}

.header{
background-color: white;
box-shadow: 1px 1px 10px -6px;
}

.row{
margin-top: 50px;
margin-right: 50px;
padding-bottom: 3em;
display: flex;
flex-wrap: wrap;


}


.column{
   width: 700px;
}



ul{
    background-color: white;
   box-shadow: 1px 1px 10px -6px;
    border-radius: 5px;
    padding: 20px;
    list-style-image: url(/images/bullet.png);
}


@media (max-width: 767px) {
    .row{
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;    
    }
        

}


@media (min-width: 550px) {
    .row{
        justify-content: center;
        align-items: center;
    
    }
}


@media (min-width: 750px) {}