body{
background-color: #FCFCFC;
}

.header{
background-color: white;
box-shadow: 1px 1px 10px -6px;
}

.row{
margin-top: 50px;
margin-right: 50px;
padding-bottom: 3em;
display: flex;
flex-wrap: wrap;


}


.column{
   width: 700px;
    flex-direction: column;
}



ul{
    background-color: white;
   box-shadow: 1px 1px 10px -6px;
    border-radius: 5px;
    padding: 20px;
    list-style-image: url(/images/bullet.png);
}
